protobuf
transformers==4.30.2
cpm_kernels
torch>=2.0
jieba==0.42.1
langchain==0.0.225
langchainplus-sdk==0.0.20
python-dotenv==1.0.0
pandas-profiling==3.6.6
snownlp==0.12.3
gensim
mdtex2html
sentencepiece
accelerate
sse-starlette
rouge_chinese
nltk
datasets
plotly
